{% extends 'main/base.html' %}
{% block content %}

{#        <p class="d-inline-flex gap-1">#}
{#            <form method="post" action="{% url 'main:send' %}">#}
{#                {% csrf_token %}#}
{#            <button class="btn btn-outline-danger" type="submit"#}
{#                    name="send_agent_report" value="send_agent_report">Отправить на проверку</button>#}
{#            </form>#}
{#        </p>#}


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование КА</th>
            <th scope="col">email</th>
            <th scope="col">ИНН</th>
            <th scope="col">Дата проверки</th>
            <th scope="col">Дата след. проверки</th>
            <th scope="col">Форма</th>
            <th scope="col">Статус проверки</th>

        </tr>
        </thead>
        <tbody>
        {% if object_list.count > 0 %}
            {% for object in object_list %}
                <tr>

                    <th scope="row">{{ forloop.counter }}</th>

                        <td><a href="/">{{ object.name }}</a></td>

                        <td>{{ object.email }}</td>


                    <td>{{ object.inn }}</td>
                    <td>{{ object.departure_date }}</td>
                    <td>{{ object.date_of_inspection }}</td>
                    <td>{{ object.counterparty_form }}</td>
                    <td>{{ object.report_status }}</td>

                </tr>
            {% endfor %}
        {% else %}
            <h1 class="text-warning">Нет Агентов на проверке</h1>
        {% endif %}
        </tbody>
    </table>

{% endblock %}