{% extends 'main/base.html' %}

{% block content %}

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">


        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Проверить</h4>
                </div>
                <div class="card-body">

                    {% include 'main/includes/inc_agents_for inspections.html' %}

                    <a href={% url 'main:agents-inspections' %} type="button"
                           class="w-100 btn btn-lg btn-primary">Перейти</a>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">На проверке</h4>
                </div>
                <div class="card-body">
                    {% include 'main/includes/inc_agents_under_inspections.html' %}
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Истек срок проверки</h4>
                </div>
                <div class="card-body">
                    {% include 'main/includes/inc_agents_verification_period_expired.html' %}
                    <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}